* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
}

.cards {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card {
    border-top: 35px solid;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card #title {
    font-size: 32px;
    color: rgb(180, 10, 10);
    text-align: center;
}

.card small {
    font-weight: 100;
    text-align: center;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
}

.price-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price-container #price {
    font-weight: black;
    font-size: 40px;
}

.price-container .price-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.price-container div i {
    color: rgb(255, 217, 0);
}

.price-container .counter-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.price-container .counter-container button{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.size-container {
    display: flex;
    flex-direction: column;
}

.size-container small {
    cursor: pointer;
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.colors-picker {
    display: flex;
    gap: 10px;
}

.colors .colors-picker div {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
}

.yellow {
    background-color: rgb(255, 200, 0);
}
.red {
    background-color: rgb(135, 0, 0);
}
.black {
    background-color: black;
}
.purple {
    background-color: rgb(103, 17, 103);
}
.cyan {
    background-color: rgb(4, 202, 202);
}
.gray {
    background-color: rgb(129, 123, 123);
}

#add-to-cart {
    padding: 10px;
    background-color: orange;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .cards {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 475px) {
    .card {
        margin: 25px;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 25px;
    }
    .price-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .price-right {
        align-items: center !important;
        gap: 10px;
    }
    .colors {
        align-items: center;
    }
}